# Backend Settings
PORT=3001
NODE_ENV=development
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://admin:password@localhost:5432/onetap?schema=public
JWT_SECRET=super-secret-jwt-key
CORS_ORIGIN=http://localhost:3000

# Frontend Settings (Need to be prefixed for Vite/Next usually)
NEXT_PUBLIC_SIGNAL_SERVER=http://localhost:3001
